:root {
  --pink: #f14e95;
  --blueOcean: #00bcd4;
  --bg: #DAC0A3;
  --darkBlue: #102C57;
  --softCream: #EADBC8;
  --cream: #F8F0E5;
  --eucalyptusGreen: #60665A;
  --eucalyptusSoft: #7D9094;
  --eucalyptusSofty: #96ACA0;
  --blushPink: #C69491;
  --blushyPink: #F9C8C2;

  --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  height: 100%;
  min-height: 4000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/Undangan/ANTY4371.JPG);
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.7;
}

.hero {
  min-height: 600px;
  /* opsional: untuk jaga-jaga tampilan tetap oke */
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h2 {
  font-family: "Georgia", serif;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero h1 {
  top: 50%;
  font-size: 6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: 'Rouge Script', cursive;

}

.hero h3 {
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  background-color: var(--eucalyptusSoft);
  color: var(--cream);
  box-shadow: var(--shadow);
}

.hero a:hover {
 color: var(--eucalyptusSoft);
  background-color: var(--cream);
}

.guest {
  margin-top: 80px;
  position: relative;
}
.opening::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/Undangan/ANTT3714.JPG);
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.7;
}

.opening {
  min-height: 600px;
  /* opsional: untuk jaga-jaga tampilan tetap oke */
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.opening h1,
.opening h4,
.opening p {
  text-shadow: var(--shadow);
}

.opening h2 {
  font-family: "Georgia", serif;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.opening h1 {
  font-family: "Georgia", serif;
  font-size: 6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.opening h3 {
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.opening h4 {
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
}

.opening p {
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
}

.opening a {
  color: var(--eucalyptusGreen);
  background-color: var(--cream);
  box-shadow: var(--shadow);
}

.wedding-quote {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 20px;
  color: var(--softCream);
  text-align: center;
  margin: 40px auto;
  max-width: 600px;
  line-height: 1.6;
}

.floating-icon-navbar {
  display: none;
  /* position: fixed; */
  margin-top: 20px;
  top: 20px;
  right: 20px;
  flex-direction: column;
  gap: 15px;
  z-index: 1050;
  /* di atas konten lain */
}

.icon-btn {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--eucalyptusGreen);
  /* warna icon bootstrap default */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.icon-btn:hover {
  background-color: var(--eucalyptusGreen);
  color: white;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.4);
}

.note {
  margin-top: 16px;
  font-size: 0.75rem;
  /* Ukuran diperkecil */
  color: #000000;
  /* Warna lebih soft */
  font-style: italic;
  /* Opsional: bikin kesan lembut */
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.home {
  /* background-image: url(img/bunga.png); */
  background-size: cover;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: var(--eucalyptusGreen);
  opacity: 90%;
}

.home h2,
.info h2,
.story h2,
.gifts h2 {
  color: var(--cream);
  font-family: "Georgia", cursive;
  font-size: 4rem;
  font-weight: bold;
}

.gallery h2,
.rsvp h2 {
  color: var(--eucalyptusGreen);
  font-family: "Georgia", cursive;
  font-size: 4rem;
  font-weight: bold;
}

.home h3 {
  color: var(--softCream);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home h4 {
  color: var(--softCream);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.6rem;
  font-family: Georgia, serif;
  color: var(--softCream);
}

.home .couple {
  margin-top: 50px;
}

.home .couple h3 {
  font-family: "Georgia", cursive;
  font-size: 2.4rem;
  color: var(--eucalyptusGreen);
}

.instagram,
.address {
  color: var(--eucalyptusGreen);
  background-color: var(--cream);
  box-shadow: var(--shadow);
}

.rsvpForm {
  color: var(--cream);
  background-color: var(--eucalyptusSofty);
  box-shadow: var(--shadow);
}

.home a:hover {
 color: var(--eucalyptusSoft);
  background-color: var(--cream);
}
/* .home .couple img {
  width: 70%;
  border-radius: 70%;
  box-shadow: 3px 3px 5px 0.5px #000;
} */
.photo-wrapper {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.photo-inner {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  /* rasio kotak */
}

/* Foto & frame pakai posisi yang sama */
.foto-pengantin,
.flower-frame {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.foto-pengantin {
  object-fit: contain;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 3px 3px 5px 0.5px #000;
}

.flower-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;

}

.home .heart {
  width: 50px;
  height: 50px;
  display: flex;
  size: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .elegant-heading {
  font-family: 'Georgia', serif;
  font-size: 5rem;
  letter-spacing: 8px;
  color: var(--bg);
  /* warna emas */
  text-transform: uppercase;
}

.home .heart i {
  margin: auto;
  color: var(--eucalyptusSoft);
}

.couple-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.couple-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-color: #000;
}

.couple-role {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #333;
}

.couple-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.divider-symbol {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.couple h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

.couple p {
  font-size: 16px;
  color: var(--bg);
}

.info {
  background-color: var(--eucalyptusSofty);
  color: var(--cream);
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .quotes {
  font-size: 1rem;
  color: var(--softCream);
  font-weight: 300;
  font-style: italic;
  padding-top: 5em;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.story,
.gallery,
.rsvp {
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: var(--cream);
  opacity: 90%;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  color: var(--dustyPinkRose);
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.closing {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/Undangan/ANTT3814.JPG);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  /* opsional: untuk jaga-jaga tampilan tetap oke */
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.gifts button {
  color: var(--eucalyptusSoft);
  background-color: white;
  size: 2em;
  box-shadow: var(--shadow);
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gifts {
  background-color: var(--eucalyptusSofty);
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.gifts h2 {
  font-size: 4.5rem;
}

.gifts p {
  color: white;
}

.gifts form label {
  color: white;
}

.gifts button {
  background-color: var(--eucalyptusSoft);
  color: var(--cream);
  border: 1px solid var(--eucalyptusSoft);
}

.gifts button:hover {
  background-color: var(--softCream);
  color: var(--eucalyptusSoft);
  border: 1px solid var(--cream);
}

footer {
  padding: 2rem;
  background-color: var(--eucalyptusSoft);
  color: var(--cream);
}

footer a {
  color: var(--eucalyptusSoft);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: var(--cream);
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 3s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown>.simply-section {
    padding: 40px;
    background-color: var(--softCream);
    color: var(--eucalyptusSoft);
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown>.simply-section {
    padding: 60px;
    margin: 5px;
    background-color: var(--softCream);
    color: var(--eucalyptusSoft);
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

  .floating-icon-navbar {
    opacity: 80%;
    transform: scale(0.8);
  }
}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown>.simply-section {
    padding: 30px;
    margin: 3px;
    background-color: var(--softCream);
    color: var(--eucalyptusSoft);
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}